<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">

	<title>Deporte Conex</title>

	<meta name = "keywords" content = "Deporte Conex, Sports, Recruiting, Social, mobile app, Canada, One Page Website, Sticky Navigation" />
	<meta name = "description" content = "Deporte Conex is a plstform that builds relationships between student athletes and higher level coaches and recruiters." />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link href="css/styles.css" rel="stylesheet">


</head>
<body>

<nav id="primarynavbar" class="navbar navbar-trans fix-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Deporte Conex</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapsible">
      <ul class="nav navbar-nav navbar-right">
        <li id="nav-what"><a href="#what">Our Mission</a></li>
        <!-- <li id="nav-who"><a href="#who">Who we are</a></li> -->
        <li id="nav-how"><a href="#how">How it works</a></li>
        <!--<li id="nav-give"><a href="#give">What we Give</a></li>-->
        <li id="nav-price"><a href="#pricing">Pricing</a></li>
        <li id="nav-community"><a href="#community">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>


	
<nav class="navbar navbar-trans fix-bottom" role="navigation">
  <div class="container-fluid">
    <div class="navbar-collapse collapse" id="navbar-collapsible2">
	  <div class="navbar-brand nav-footer-brand">Get in touch!</div>
		<!-- Begin MailChimp Signup Form -->
		<!-- <form action="http://Deporte Conex.us8.list-manage.com/subscribe/post?u=7749331b7ebe56316ea9ed1e6&amp;id=2f76b3dc71" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>	 -->
		   <ul class="nav navbar-nav navbar-right navbar-bottom">	
			<li class='nav-email'>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;"><input type="text" name="b_7749331b7ebe56316ea9ed1e6_2f76b3dc71" tabindex="-1" value=""></div>
			</li>
			<li class='nav-submit'>
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
			</li>
	 		<li class='nav-newsletter'><div class="newsletter">to our newsletter!</div></li>
			<li><a href="https://twitter.com/DeporteConex"><i class="fa fa-twitter fa-2x"></i></a></li>
			<!-- <li><a href="https://github.com/DeporteConex"><i class="fa fa-github fa-2x"></i></a></li> -->
			<li><a href="mailto:support@DeporteConex.com"><i class="fa fa-envelope-o fa-2x"></i></a></li>
		  </ul>
		</form>
		<!--End mc_embed_signup-->  
    </div>
    <div class="navbar-header">
      <button  type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible2">
		<span class="sr-only">Toggle navigation</span>
        <span>Contact Us</span>
      </button>
    </div>
  </div>
</nav>

<section class="container-fluid green page-height first" id="what">
  <h2 class="text-center">Deporte Conex is a platform that brings athletic opportunities to you.</h2>
  <div class="col-sm-12 col-sm-offset-1">
    	<div class="col-sm-9 col-xs-12">
          <iframe width="100%" height="525" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/HRVq43fZpXU?rel=0"></iframe>      
    	</div><!--/right-->
  </div>
</section>

<!-- 
<section class="container-fluid blue" id="who">
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2 text-center">
        <h2>We're doing this because we believe in it.</h2>
      	<img src="img/startup_weekend.jpg" class="img-responsive">
        <h2>Our challenge was <strong>mental health</strong>.<br />
			Our Solution, <strong>is being well.</strong></h2>
    </div>
  </div>
<div class="row" style="margin-top:30px;">
  	<div class="col-sm-12 text-center">
        <h1>Timeline? More like, ROCKET LAUNCH</h1>
		<img src="img/timeline.png" class="img-responsive">
    </div>
  </div>
</section> -->


<section class="container-fluid" id="how">
<div class="row">
  	<div class="col-sm-8 col-sm-offset-2 text-center">
        <h2>Providing a resource for both Athletes and Coaches</h2>
		<!-- <img src="img/app-buttons.png" class="img-responsive"> -->
    <h3>What we do</h3>
            <p>We offer a recruiting platform which connects international student-athletes with American university coaches and scouts. The connections on our recruiting platform may lead to more exposure, athletic scholarships, and greater future opportunities for registered student-athletes.

                <h3>What can you expect?</h3>
                <div class="row text-center">
                    <div class="col-md-4">
                    <%= fa_icon "group 4x" %>
                    <br />
                    <p>Your own personal student-athlete profile
                    </div>
                    <div class="col-md-4">
                    <%= fa_icon "star 4x" %>
                    <br />
                    <p>Premium features including video, references, and letters of interest
                    </div>
                    <div class="col-md-4">
                    <%= fa_icon "dot-circle-o 4x" %>
                    <br />
                    <p>Recruiting information and advanced scouting by our supporters at the NCSA
                    </div>
                </div>
                We cannot guarantee a student-athlete will receive an athletic scholarship. We can guarantee however, that we will work everyday to provide every student-athlete the chance to be noticed and recruited.
                <br></br>
     <div class="panel-body">
                <div class="col-md-8">
                    <h3>What’s in it for you?</h3>
                    <div class="row text-center">
                    <div class="col-md-4">
                    <%= fa_icon "clock-o 4x" %>
                    </br />
                    <p>Reduce time and stress finding athletes, spend more time evaluating and connecting with talented recruits
                    </div>
                    <div class="col-md-4">
                    <%= fa_icon "globe 4x" %>
                    </br />
                    <p>Large and unique talent pool to recruit from
                    </div>
                    <div class="col-md-4">
                    <%= fa_icon "search 4x" %>
                    </br />
                    <p>Easily search and track talented and qualified student-athletes
                    </div>

                </div>
                    <br />
                    College sports are incredibly competitive, and it all begins with recruiting. Deporte Conex offers the chance to view, evaluate, and connect with talented recruits at a click of the button. We help you reduce time and reduce stress from the typically complicated and fast-paced recruiting battle.
                    <br></br>
                    We help you uncover new talent and build impressive recruiting classes. Stop missing out on talented athletes and let us help you win the recruiting battle!
                    <br></br>
                    </div>
                    <div class="col-md-4">
                    <h3>Why international talent?</h3>

                    Consider the following:
                    <br></br>

                    In 2008 16,000 international student-athletes played at NCAA schools with 70% of them playing at Division I schools. The number of international student-athletes playing intercollegiate sports has been increasing every year!
                    <br></br>

                    Physical location is no longer a limitation. Stop missing out on incredible talent and let us help you connect with athletes all over the world!
                    <br></br>

                    <p>It’s free and takes less than 2 minutes.
                        <br />
                    <div class="text-center">
                    <%= link_to 'Sign up Now', new_user_registration_path, class: "btn btn-warning btn-lg btn-block" %>
                </div>
                </div>
              </div>

  </div>
</section>
<!--
<section class="container-fluid white text-center red" id="give">
        <h1>In-App Features</h1>
  <div class="row no-gutter">
  	<div class="col-sm-8 col-sm-offset-2" style="padding:0;">
	</div>
  </div>
</section>
-->
<section class="container-fluid blue" id="pricing">
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2 text-center">
        <h2>Get power packed.</h2>
		<img src="img/pricing.png" class="img-responsive">
    </div>
  </div>
</section>

<section class="container-fluid page-height" id="community">
 <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2>Blog</h2>
    </div>
  </div>
</section>

<footer id="footer">
  <section class="container-fluid last no-color">
    <div class="row">    
      <div class="col-xs-6 col-sm-6 col-md-4 column">          
          <h4>Information</h4>
          <ul class="nav">
            <li><a href="#who">About Us</a></li>
          </ul> 
        </div>
      <div class="col-xs-6 col-md-4 column">          
          <h4>Follow Us</h4>
          <ul class="nav">
            <li><a href="https://twitter.com/DeporteConex">Twitter&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter fa-x"></i></a></li>
			<li><a href="https://github.com/DeporteConex">Github&nbsp;&nbsp;&nbsp;<i class="fa fa-github fa-x"></i></a></li>
          </ul> 
      </div>
      <div class="col-xs-6 col-md-4 column">          
          <h4>Contact Us</h4>
          <ul class="nav">
            <li><a href="mailto:support@DeporteConex.com">Email&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope-o fa-x"></i></a></li>
          </ul> 
      </div>
    </div><!--/row-->
  </section>
</footer>

	<!-- script references -->
		<script src="js/jquery-2.1.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.smint.min.js"></script>
		<script src="js/scripts.js"></script>
<script>
//   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
//   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
//   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
//   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

//   ga('create', 'UA-52084662-1', 'Deporte Conex.github.io');
//   ga('send', 'pageview');

// </script>
	</body>
</html>
